@import "partials/grid";
@import "partials/header";
@import "partials/teams";
@import "partials/games";
.login-container,
.registration-container {
    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }
    label {
        display: block;
    }
}

.login-container {
    @include pre(1);
    @include span(5);
}

.registration-container {
    @include span(5);
}

.user-container {
    background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
    border: 1px solid lightgrey;
    line-height: 32px;
    margin: 10px 0 0 0;
    padding: 5px 0;
    .rank {
        position: relative;
        .background {
            background-color: #E50000;
            height: 20px;
            width: 80%;
            display: block;
            position: absolute;
            top: 5px;
            left: -20%;
            &::after {
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                left: 100%;
                border: 10px solid transparent;
                border-left-color: #E50000;
            }
        }
    }
}

.title-container {
    line-height: 32px;
    margin: 10px 0 0 0;
    padding: 5px 0;
}

.title-container,
.user-container {
    @include span(full);
    .rank {
        @include span(2);
        text-align: center;
    }
    .user {
        @include span(6);
    }
    .points {
        @include span(3 last);
    }
}
