@import "partials/grid";
@import "partials/header";
@import "partials/teams";
@import "partials/games";
@import "partials/leaderboard";
.login-container,
.registration-container {
    @include span(full);
    .title {
        margin: 15px 0 10px;
        text-align: center;
        font-size: 18px;

    }
    .input-container {
        background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
        border: 1px solid lightgrey;
        padding: 5px 0;
    }
    fieldset {
        margin: 0;
        padding: 5px 15px;
        border: none;
        line-height: 32px;
        input {
            @include span(full);
            height: 32px;
            padding: 0 10px;
        }
        label {
            display: block;
        }
    }
    .submit-form {
        @include span(full);
        background: linear-gradient(to bottom, #012D5E 0%, #05468F 100%);
        color: #fff;
        text-align: center;
        height: 40px;
        margin: 10px 0;
        border: 1px solid darkblue;
        cursor: pointer;
    }
}

@include breakpoint(min-width 480px) {

    .login-container{
        @include span(6);
    }

    .registration-container {
        @include span(6 last);
    }
}
