@import "partials/grid";
@import "partials/header";
@import "partials/games";
.login-container,
.registration-container {
    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

    label {
        display:block;
    }

    
}

.login-container {
    @include pre(1);
    @include span(5);
}

.registration-container {
    @include span(5);
}