.games-container {
    margin: 15px 0 0;
    float: left;
}

.game-container {
    @include span(full);
    background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
    border: 1px solid lightgrey;
    line-height: 32px;
    margin: 0 0 10px 0;
    &.started {
        pointer-events: none;
        opacity: 0.5;
        .prediction-container {
            padding: 5px 0 0;
        }
    }
    .prediction-container {
        @include span(10);
        padding: 5px 0;
        font-size: 15px;
        .team-container {
            height: 40px;
        }
        .logo {
            background-size: 32px 32px;
            height: 32px;
            width: 32px;
            float: left;
            margin: 0 5px;
        }
        .teamname.long {
            display: none;
        }
        @include breakpoint(min-width 480px) {
            .teamname.long {
                display: inline;
            }
            .teamname.short {
                display: none;
            }
        }
        .location {
            font-size: 12px;
        }
        .input input {
            width: 40px;
            float: right;
            margin: 4px 10px;
        }
    }
    .joker-container {
        @include span(2 last);
        padding: 5px 0;
        height: 66px;
        &.chosen {
            pointer-events: none;
        }
        img {
            margin: 15px 0;
            height: 50px;
            opacity: 0.3;
            cursor: pointer;
            transform: rotate(10deg);
        }
        input[type=radio] {
            display: none;
            &:checked ~ img {
                opacity: 1;
            }
        }
    }
    .points-container {
        padding: 0 10px;
        font-size: 14px;
        font-weight: 700;
        float: right;
        line-height: 24px;
        color: #038002;
    }
}

.submit-predictions {
    @include span(full);
    background: linear-gradient(to bottom, #012D5E 0%, #05468F 100%);
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: 1px solid darkblue;
    cursor: pointer;
    &.submitted {
        background: linear-gradient(to bottom, #038002 0%, #07A920 100%);
        border: 1px solid darkgreen;
    }
}
