@import "normalize";
@import "compass/css3";
@include font-face("Endzone", font-files("font.ttf"));
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.hidden {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1
}

body {
    @include container();
    min-width: 320px;
    margin: 5px;
    font-size: 16px;
}

header,
footer {
    @include span(full);
    background-color: #012D5E;
    position: relative;
}

header {
    height: 100px;
    .logo-wrapper {
        @include span(full);
        height: 100%;
        a {
            display: block;
            margin: 0 auto;
            height: 100%;
            width: 100px;
            background-image: url(../images/nfl-logo.min.svg);
            background-size: 100% 100%;
        }
    }
}

nav {
    @include span(full);
    padding: 0 15px;
    background-color: #E50000;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    ul {
        padding: 0;
        margin: 0;
        display: inline-block;
        li {
            float: left;
            position: relative;
            z-index: 2;
            background-color: #E50000;
        }
    }
    a {
        color: inherit;
        padding: 0 10px;
        text-align: center;
    }
    li:hover > .games-list {
        display: block;
    }
    .games-list {
        position: absolute;
        display: none;
        float: left;
        width: 100px;
        color: #fff;
        text-align: center;
        font-size:14px;

        .link-container {
            @include span(full);
        }
    }
}

.main-content {
    @include span(full);
    background-color: #fff;
}

footer {
    height: 50px;
}
