.login-container,
.registration-container {
    @include span(full);
    margin: 15px 0 0;
    .input-container {
        background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
        border: 1px solid lightgrey;
        padding: 15px 10px 20px;
    }
    fieldset {
        margin: 0;
        padding: 0 5px;
        border: none;
        line-height: 32px;
        input {
            @include span(full);
            height: 32px;
            padding: 0 10px;
        }
        label {
            display: block;
        }
    }
    .submit-form {
        @include span(full);
        background: linear-gradient(to bottom, #012D5E 0%, #05468F 100%);
        color: #fff;
        text-align: center;
        height: 40px;
        margin: 10px 0 0;
        border: 1px solid darkblue;
        cursor: pointer;
    }
}

@include breakpoint(min-width 480px) {
    .login-container,
    .registration-container {
        @include span(full);
    }
}

@include breakpoint(min-width 720px) {
    .login-container {
        @include pre(3);
        @include span(6);
    }
    // .registration-container {
    //     @include span(5);
    // }
}

@include breakpoint(min-width 1024px) {
    .login-container {
        @include pre(4);
        @include span(4);
    }
    // .registration-container {
    //     @include span(4);
    // }
}
