.ARI {
    background-image: url(../images/ARI.svg);
}

.ATL {
    background-image: url(../images/ATL.svg);
}

.BAL {
    background-image: url(../images/BAL.svg);
}

.BUF {
    background-image: url(../images/BUF.svg);
}

.CAR {
    background-image: url(../images/CAR.svg);
}

.CHI {
    background-image: url(../images/CHI.svg);
}

.CIN {
    background-image: url(../images/CIN.svg);
}

.CLE {
    background-image: url(../images/CLE.svg);
}

.DAL {
    background-image: url(../images/DAL.svg);
}

.DEN {
    background-image: url(../images/DEN.svg);
}

.DET {
    background-image: url(../images/DET.svg);
}

.GB {
    background-image: url(../images/GB.svg);
}

.HOU {
    background-image: url(../images/HOU.svg);
}

.IND {
    background-image: url(../images/IND.svg);
}

.JAC {
    background-image: url(../images/JAC.svg);
}

.KC {
    background-image: url(../images/KC.svg);
}

.MIA {
    background-image: url(../images/MIA.svg);
}

.MIN {
    background-image: url(../images/MIN.svg);
}

.NE {
    background-image: url(../images/NE.svg);
}

.NO {
    background-image: url(../images/NO.svg);
}

.NYG {
    background-image: url(../images/NYG.svg);
}

.NYJ {
    background-image: url(../images/NYJ.svg);
}

.OAK {
    background-image: url(../images/OAK.svg);
}

.PHI {
    background-image: url(../images/PHI.svg);
}

.PIT {
    background-image: url(../images/PIT.svg);
}

.SD {
    background-image: url(../images/SD.svg);
}

.SEA {
    background-image: url(../images/SEA.svg);
}

.SF {
    background-image: url(../images/SF.svg);
}

.STL {
    background-image: url(../images/STL.svg);
}

.TB {
    background-image: url(../images/TB.svg);
}

.TEN {
    background-image: url(../images/TEN.svg);
}

.WAS {
    background-image: url(../images/WAS.svg);
}
